@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-text-base: #5c728a;
		--color-bg-primary: #edf1f5;
		--color-bg-secondary: #fafcfc;
		--color-bg-tertiary: #eff7fb;
	}
	.theme-standard {
		--color-text-base: #5c728a;
		--color-bg-primary: #edf1f5;
		--color-bg-secondary: #fafcfc;
		--color-bg-tertiary: #eff7fb;
	}
	.theme-high-contrast {
		--color-text-base: #000000;
		--color-bg-primary: #d6e0ef;
		--color-bg-secondary: #f5f6f9;
		--color-bg-tertiary: #e5e9f5;
	}
	.theme-night {
		--color-text-base: #9fadbd;
		--color-bg-primary: #13171d;
		--color-bg-secondary: #1f232d;
		--color-bg-tertiary: #191d26;
	}
}

.nameHover:hover {
	color: var(--hover-colour) !important;
	opacity: var(--hover-opacity);
}

.name {
	color: var(--name-colour) !important;
	opacity: var(--name-opacity);
}
.genre {
	background-color: var(--genre-colour) !important;
	opacity: var(--genre-opacity);
}

.statusPopup:hover > .statusPopupContainer {
	display: block;
}
